<section class="py-8 antialiased dark:bg-gray-900 md:py-12">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <!-- <h2 class="text-2xl mt-16 font-bold tracking-tight text-gray-900">
      Top selling item📈
    </h2>
    <section
      class="bg-white px-4 antialiased dark:bg-gray-900 shadow-lg rounded-md"
    >
      <div
        class="mx-auto grid max-w-screen-xl rounded-lg bg-white p-4 dark:bg-gray-800 lg:grid-cols-12 lg:gap-8 xl:gap-16"
        *ngIf="highestSoldProduct"
      >
        <div class="lg:col-span-5 lg:mt-0">
          <a>
            <img
              class="mb-4 h-56 w-56 dark:hidden sm:h-96 sm:w-96 rounded-md"
              *ngIf="highestSoldProduct.product_image$ | async as itemImage"
              [src]="itemImage"
              loading="lazy"
            />
          </a>
        </div>
        <div class="me-auto place-self-center lg:col-span-7">
          <h1
            class="mb-3 text-2xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white md:text-4xl"
          >
            {{ highestSoldProduct.name }}
          </h1>
          <p class="text-gray-500 dark:text-gray-400">
            {{ highestSoldProduct.description }}
          </p>
          <p class="mb-6 text-gray-500 dark:text-gray-400">
            ₱{{ highestSoldProduct.price | number : "1.0-0" }}
          </p>
          <button
            (click)="viewProduct(highestSoldProduct.id)"
            class="inline-flex items-center justify-center rounded-lg bg-primary-700 px-5 py-3 text-center text-base font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
          >
            View Item
          </button>
        </div>
      </div>
    </section> -->

    <app-topselling></app-topselling>

    <app-sales> </app-sales>
    <!-- discountedItem -->
    <!-- <section class="mt-2.5 antialiased dark:bg-gray-900">
      <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
        <div
          class="bg-white"
          [ngClass]="{
            'mt-10': discountedProducts.length === 0
          }"
        >
          <div
            class="mx-auto max-w-2xl px-4 py-8 sm:px-6 lg:max-w-7xl"
            *ngIf="discountedProducts.length > 0"
          >
            <h2 class="text-2xl font-bold tracking-tight text-gray-900">
              Hot Sales🔥
            </h2>

            <swiper-container
              [navigation]="true"
              [slidesPerView]="5"
              [spaceBetween]="30"
            >
              <swiper-slide
                lazy="true"
                *ngFor="let discountedItem of discountedProducts"
                class="mt-3"
              >
                <div
                  class="group relative"
                  (click)="viewProduct(discountedItem.id)"
                >
                  <div
                    class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
                  >
                    <img
                      *ngIf="discountedItem.product_image$ | async as itemImage"
                      [src]="itemImage"
                      loading="lazy"
                      class="h-full w-full object-cover object-center lg:h-full lg:w-full"
                    />
                  </div>
                  <div class="mt-4 flex justify-between">
                    <div>
                      <h3 class="text-sm text-gray-700">
                        <a>
                          <span
                            aria-hidden="true"
                            class="absolute inset-0"
                          ></span>
                          {{ discountedItem.name }}
                        </a>
                      </h3>
                      <p class="mt-1 text-sm text-red-500">
                        {{ discountedItem.discount | number }}% OFF
                      </p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">
                      ₱{{ discountedItem.price | number : "1.0-0" }}
                    </p>
                  </div>
                </div>
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
      </div>
    </section> -->

    <div class="bg-white">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-none">
          <h2 class="text-2xl font-bold text-gray-900 mb-2">Categories🔠</h2>

          <div>
            <div
              class="grid gap-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5"
            >
              <div
                (click)="reset()"
                class="flex items-center rounded-lg border border-gray-200 bg-white px-4 py-2 hover: dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 cursor-pointer"
              >
                <svg
                  class="w-4 h-4 flex-shrink-0 me-1 text-gray-800 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M17.651 7.65a7.131 7.131 0 0 0-12.68 3.15M18.001 4v4h-4m-7.652 8.35a7.13 7.13 0 0 0 12.68-3.15M6 20v-4h4"
                  />
                </svg>

                <span class="text-sm font-medium text-gray-900 dark:text-white"
                  >All</span
                >
              </div>
              <div
                *ngFor="let category of categories"
                (click)="filterByCategory(category.id)"
                class="flex items-center rounded-lg border border-gray-200 bg-white px-4 py-2 hover: dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 cursor-pointer"
              >
                <svg
                  class="w-4 h-4 flex-shrink-0 me-1 text-gray-800 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15.583 8.445h.01M10.86 19.71l-6.573-6.63a.993.993 0 0 1 0-1.4l7.329-7.394A.98.98 0 0 1 12.31 4l5.734.007A1.968 1.968 0 0 1 20 5.983v5.5a.992.992 0 0 1-.316.727l-7.44 7.5a.974.974 0 0 1-1.384.001Z"
                  />
                </svg>
                <span
                  class="text-sm font-medium text-gray-900 dark:text-white"
                  >{{ category.name }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white" *ngIf="products.length !== 0">
      <div class="mx-auto max-w-2xl px-4 py-8 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="sr-only">Products</h2>

        <div
          class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
        >
          <div
            class="group rounded-md p-2.5 shadow-lg border border-gray-200"
            *ngFor="
              let item of products
                | paginate : { itemsPerPage: item, currentPage: p }
            "
            (click)="viewProduct(item.id)"
          >
            <div
              class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
            >
              <img
                *ngIf="item.product_image$ | async as itemImage"
                [src]="itemImage"
                loading="lazy"
                class="h-full w-full object-cover object-center group-hover:opacity-75"
              />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">{{ item.name }}</h3>
            <p class="mt-1 text-lg font-medium text-gray-900">
              ₱{{ item.price | number : "1.0-0" }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full text-center" *ngIf="products.length !== 0">
      <pagination-controls
        (pageChange)="p = $event"
        [responsive]="true"
        class="pagination"
      >
      </pagination-controls>
    </div>

    <section *ngIf="products.length === 0">
      <div class="py-4 px-4 mx-auto max-w-screen-xl h-full lg:py-16 lg:px-6">
        <div class="max-w-screen-sm text-center mx-auto">
          <h1 class="text-gray-500 text-xl block">(￣ ￣|||)</h1>
          <h1 class="text-gray-500 text-xl block">No Items Found</h1>
        </div>
      </div>
    </section>
  </div>
</section>
