<section
  class="py-8 mt-16 bg-white md:py-16 dark:bg-gray-900 antialiase relative"
>
  <button class="absolute top-7 left-28" (click)="goBack()">
    <svg
      class="w-7 h-7 text-gray-800 dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1"
        d="M5 12h14M5 12l4-4m-4 4 4 4"
      />
    </svg>
  </button>
  <div
    class="max-w-screen-xl px-4 mx-auto 2xl:px-0 border border-slate-300 p-5 rounded-md"
    *ngIf="product.length !== 0"
  >
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16 p-5">
      <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
        <img
          class="w-full dark:hidden"
          *ngIf="product[0].product_image$ | async as itemImage"
          [src]="itemImage"
          loading="lazy"
        />
        <img
          class="w-full hidden dark:block"
          *ngIf="product[0].product_image$ | async as itemImage"
          [src]="itemImage"
          loading="lazy"
        />
      </div>

      <div class="mt-6 sm:mt-8 lg:mt-0" *ngIf="product">
        <h1 class="text-4xl font-extrabold text-gray-900">
          {{ product[0].name }}
        </h1>
        <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
          <p class="text-2xl font-bold text-gray-900 sm:text-3xl">
            ₱ {{ product[0].price }}
          </p>
        </div>
        <div class="sm:items-center sm:gap-4 sm:flex">
          <p class="text-sm font-medium text-gray-900">
            Stock: {{ product[0].stock }}
          </p>
        </div>

        <div class="flex items-center mt-2">
          <button
            type="button"
            id="decrement-button"
            (click)="decrementQuantity()"
            data-input-counter-decrement="counter-input"
            class="inline-flex h-5 w-5 shrink-0 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700"
          >
            <svg
              class="h-2.5 w-2.5 text-gray-900 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 18 2"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 1h16"
              />
            </svg>
          </button>
          <input
            type="text"
            id="counter-input"
            data-input-counter
            class="w-10 shrink-0 border-0 bg-transparent text-center text-sm font-medium text-gray-900 focus:outline-none focus:ring-0 dark:text-white"
            placeholder=""
            [value]="quantity"
            readonly
          />
          <button
            type="button"
            id="increment-button"
            (click)="incrementQuantity()"
            data-input-counter-increment="counter-input"
            class="inline-flex h-5 w-5 shrink-0 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700"
          >
            <svg
              class="h-2.5 w-2.5 text-gray-900 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 18 18"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 1v16M1 9h16"
              />
            </svg>
          </button>
        </div>

        <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
          <button
            [disabled]="quantity === 0"
            [ngClass]="{
              'cursor-not-allowed bg-gray-300 text-gray-500': quantity === 0,
              'text-white bg-primary-700 hover:bg-primary-800 ': quantity !== 0
            }"
            (click)="addtoCart(quantity)"
            class="mt-4 sm:mt-0 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 flex items-center justify-center"
            role="button"
          >
            <svg
              class="w-5 h-5 -ms-2 me-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6"
              />
            </svg>

            Add to cart
          </button>
          <button
            [disabled]="quantity === 0"
            [ngClass]="{
              'cursor-not-allowed bg-gray-300 text-gray-500': quantity === 0,
              'text-white bg-primary-700 hover:bg-primary-800 ': quantity !== 0
            }"
            class="text-white mt-4 sm:mt-0 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 flex items-center justify-center"
            role="button"
            (click)="buyNow(quantity)"
          >
            <svg
              class="w-5 h-5 -ms-2 me-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6"
              />
            </svg>

            Buy now
          </button>
        </div>
        <div class="mt-2 text-xs text-red-600" *ngIf="quantity === 0">
          Please increase the quantity before proceeding.
        </div>

        <p class="mt-6 text-gray-500 dark:text-gray-400">
          {{ product[0].description }}
        </p>

        <hr class="my-4 border-gray-200 dark:border-gray-800" />

        <div class="mx-auto flex-1 w-full">
          <div
            class="rounded-lg bg-white p-4 dark:border-gray-700 dark:bg-gray-800 sm:p-6"
          >
            <p class="text-xl font-semibold text-gray-900 dark:text-white">
              Order summary
            </p>

            <div class="space-y-4">
              <div class="space-y-2">
                <dl class="flex items-center justify-between gap-4">
                  <dt
                    class="text-base font-normal text-gray-500 dark:text-gray-400"
                  >
                    Item Price
                  </dt>
                  <dd
                    class="text-base font-medium text-gray-900 dark:text-white"
                  >
                    ₱ {{ product[0].price | formatter }}
                  </dd>
                </dl>

                <dl class="flex items-center justify-between gap-4">
                  <dt
                    class="text-base font-normal text-gray-500 dark:text-gray-400"
                  >
                    Item Quanity
                  </dt>
                  <dd
                    class="text-base font-medium text-gray-900 dark:text-white"
                  >
                    {{ quantity }}x
                  </dd>
                </dl>
              </div>

              <dl
                class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700"
              >
                <dt class="text-base font-bold text-gray-900 dark:text-white">
                  Total
                </dt>
                <dd class="text-base font-bold text-gray-900 dark:text-white">
                  ₱ {{ totalPrice | formatter }}
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
