<section class="mt-2.5 antialiased dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div
      class="bg-white"
      [ngClass]="{
        'mt-10': discountedProducts.length === 0
      }"
    >
      <div
        class="mx-auto max-w-2xl px-4 py-8 sm:px-6 lg:max-w-7xl"
        *ngIf="discountedProducts.length > 0"
      >
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">
          Hot Sales🔥
        </h2>

        <swiper-container
          [navigation]="true"
          [slidesPerView]="5"
          [spaceBetween]="30"
        >
          <swiper-slide
            lazy="true"
            *ngFor="let discountedItem of discountedProducts"
            class="mt-3"
          >
            <div
              class="group relative"
              (click)="viewProduct(discountedItem.id)"
            >
              <div
                class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
              >
                <img
                  *ngIf="discountedItem.product_image$ | async as itemImage"
                  [src]="itemImage"
                  loading="lazy"
                  class="h-full w-full object-cover object-center lg:h-full lg:w-full"
                />
              </div>
              <div class="mt-4 flex justify-between">
                <div>
                  <h3 class="text-sm text-gray-700">
                    <a>
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      {{ discountedItem.name }}
                    </a>
                  </h3>
                  <p class="mt-1 text-sm text-red-500">
                    {{ discountedItem.discount | number }}% OFF
                  </p>
                </div>
                <p class="text-sm font-medium text-gray-900">
                  ₱{{ discountedItem.price | number : "1.0-0" }}
                </p>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</section>
