<section class="bg-white py-8 antialiased mt-16 dark:bg-gray-900 md:py-16">
  <form action="#" class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="mx-auto max-w-3xl">
      <h2
        class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl"
      >
        Order summary
      </h2>

      <div
        class="mt-6 sm:mt-8 border border-slate-500 p-3.5 rounded-md"
        *ngFor="let item of items"
      >
        <div
          class="relative overflow-x-auto border-b border-gray-200 dark:border-gray-800"
        >
          <table
            class="w-full text-left font-medium text-gray-900 dark:text-white md:table-fixed"
          >
            <tbody class="divide-y divide-gray-200 dark:divide-gray-800">
              <tr *ngFor="let product of item.items">
                <td class="whitespace-nowrap py-4 md:w-[384px]">
                  <div class="flex items-center gap-4">
                    <a
                      class="flex items-center aspect-square w-10 h-10 shrink-0"
                    >
                      @defer{
                      <img
                        class="h-auto w-fit max-h-full"
                        *ngIf="product.image$ | async as imageUrl"
                        [src]="imageUrl"
                        loading="lazy"
                      />
                      }
                    </a>
                    <a class="hover:underline">{{
                      item.items[0].product_name
                    }}</a>
                  </div>
                </td>

                <td
                  class="p-4 text-base font-normal text-gray-900 dark:text-white"
                >
                  {{ item.items[0].quantity }}x
                </td>

                <td
                  class="p-4 text-right text-base font-bold text-gray-900 dark:text-white"
                >
                  ₱ {{ item.total_price }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="mt-4 space-y-6">
          <h4 class="text-xl font-semibold text-gray-900 dark:text-white">
            Order summary
          </h4>

          <div class="space-y-4">
            <div class="space-y-2">
              <dl class="flex items-center justify-between gap-4">
                <dt class="text-gray-500 dark:text-gray-400">Item price</dt>
                <dd class="text-base font-medium text-gray-900 dark:text-white">
                  ₱{{ item.items[0].price }}
                </dd>
              </dl>

              <dl class="flex items-center justify-between gap-4">
                <dt class="text-gray-500 dark:text-gray-400">Item quantity</dt>
                <dd class="text-base font-medium text-slate-700">
                  {{ item.items[0].quantity }}x
                </dd>
              </dl>
            </div>

            <dl
              class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700"
            >
              <dt class="text-lg font-bold text-gray-900 dark:text-white">
                Total
              </dt>
              <dd class="text-lg font-bold text-green-500 dark:text-white">
                ₱ {{ item.total_price }}
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
