<section class="bg-white mt-5 antialiased dark:bg-gray-900 pt-16">
  <div class="flex justify-center w-full px-4" *ngIf="items.length !== 0">
    <div class="font-sans w-[80%]">
      <h1 class="text-2xl font-extrabold text-gray-800">My Cart</h1>

      <div class="relative mt-1 overflow-x-auto shadow-md sm:rounded-lg mb-2">
        <table
          class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="px-16 py-3">
                <span class="sr-only">Image</span>
              </th>
              <th scope="col" class="px-6 py-3"></th>
              <th scope="col" class="px-6 py-3">Product</th>
              <th scope="col" class="px-6 py-3">Price</th>
              <th scope="col" class="px-6 py-3">Quantity</th>
              <th scope="col" class="px-6 py-3">Total</th>
              <th scope="col" class="px-6 py-3"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="bg-white border-b max-h-[160.4px] h-[160.4px] dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
              *ngFor="let item of items"
            >
              <td class="p-4">
                <div class="flex items-center mb-4 ms-10">
                  <input
                    id="default-checkbox"
                    type="checkbox"
                    [value]="item.product_id"
                    (change)="toggleSelection(item, $event)"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="default-checkbox"
                    class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  ></label>
                </div>
              </td>
              <td class="p-4">
                <img
                  *ngIf="item.product_image$ | async as itemImage"
                  [src]="itemImage"
                  loading="lazy"
                  class="w-16 md:w-32 max-w-full max-h-full"
                />
              </td>
              <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                <h3 class="text-lg font-bold text-gray-800">
                  {{ item.product_name }}
                </h3>
                <p
                  class="text-sm font-semibold text-gray-500 mt-2 flex items-center gap-2"
                >
                  <span> {{ item.product_description }}</span>
                </p>
                <p class="text-xs font-bold text-gray-500 mt-2">
                  Stock: {{ item.product_stock }}
                </p>
              </td>

              <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                ₱{{ item.price | number : "1.0-0" }}
              </td>
              <td class="px-6 py-4">
                <div class="mt-auto flex items-center gap-3">
                  <button
                    type="button"
                    id="decrement-button"
                    (click)="decrementQuantity(item)"
                    class="flex items-center justify-center w-5 h-5 bg-gray-400 outline-none rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-2 fill-white"
                      viewBox="0 0 124 124"
                    >
                      <path
                        d="M112 50H12C5.4 50 0 55.4 0 62s5.4 12 12 12h100c6.6 0 12-5.4 12-12s-5.4-12-12-12z"
                        data-original="#000000"
                      ></path>
                    </svg>
                  </button>
                  <input
                    type="text"
                    id="counter-input"
                    placeholder=""
                    [value]="item.quantity"
                    readonly
                    data-input-counter
                    class="w-10 shrink-0 border-0 bg-transparent text-center text-sm font-medium text-gray-900 focus:outline-none focus:ring-0 dark:text-white"
                  />
                  <button
                    type="button"
                    id="increment-button"
                    (click)="incrementQuantity(item)"
                    data-input-counter-increment="counter-input"
                    class="flex items-center justify-center w-5 h-5 bg-gray-400 outline-none rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-2 fill-white"
                      viewBox="0 0 42 42"
                    >
                      <path
                        d="M37.059 16H26V4.941C26 2.224 23.718 0 21 0s-5 2.224-5 4.941V16H4.941C2.224 16 0 18.282 0 21s2.224 5 4.941 5H16v11.059C16 39.776 18.282 42 21 42s5-2.224 5-4.941V26h11.059C39.776 26 42 23.718 42 21s-2.224-5-4.941-5z"
                        data-original="#000000"
                      ></path>
                    </svg>
                  </button>
                </div>
              </td>
              <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                ₱{{ item.unitPrice | number : "1.0-0" }}
              </td>
              <td class="px-6 py-4">
                <button
                  (click)="removeToCart(item.product_id)"
                  class="font-medium text-red-600 dark:text-red-500 hover:underline"
                >
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <nav
        class="bg-gray-100 w-full dark:bg-gray-800 sticky bottom-0 antialiased"
      >
        <div class="px-4 mx-auto 2xl:px-0 py-4">
          <div class="flex items-center justify-between">
            <div class="flex items-center space-x-8">
              <div class="shrink-0"></div>

              <ul
                class="hidden lg:flex items-center justify-start gap-6 md:gap-8 py-3 sm:justify-center"
              >
                <li>
                  <div class="flex items-center ms-10">
                    <input
                      id="selectall-checkbox"
                      type="checkbox"
                      (click)="optionSelection()"
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    />
                    <label
                      for="selectall-checkbox"
                      class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                      >Select All <span>({{ items.length }})</span></label
                    >
                  </div>
                </li>

                <li class="shrink-0">
                  <dl class="flex items-center justify-between gap-4">
                    <dt
                      class="text-base font-normal text-gray-500 dark:text-gray-400"
                    >
                      Item(s)
                    </dt>
                    <dd
                      class="text-base font-medium text-gray-900 dark:text-white"
                    >
                      {{ selectedItems.length }}
                    </dd>
                  </dl>
                </li>
              </ul>
            </div>

            <div class="flex items-center lg:space-x-2 mr-5">
              <dl
                class="flex items-center justify-between gap-4 dark:border-gray-700 me-7"
              >
                <dt
                  class="text-base font-bold text-gray-900 dark:text-white -me-3"
                >
                  Total:
                </dt>
                <dd class="text-base font-bold text-gray-900 dark:text-white">
                  ₱{{ totalPrice | number : "1.0-2" }}
                </dd>
              </dl>
              <button
                (click)="checkout()"
                class="flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
              >
                <svg
                  class="w-5 h-5 lg:me-1"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"
                  />
                </svg>
                Proceed to Checkout
              </button>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <section *ngIf="items.length === 0">
    <div class="py-4 px-4 mx-auto max-w-screen-xl h-full lg:py-16 lg:px-6">
      <div class="max-w-screen-sm text-center mx-auto">
        <h1 class="text-gray-500 text-xl block">(￣ ￣|||)</h1>
        <h1 class="text-gray-500 text-xl block">No Items Found</h1>
        <p class="text-gray-500 text-xl">It looks like your cart is empty.</p>
      </div>
    </div>
  </section>
</section>
